flow.json
[{"id":"8caf69f8.637eb8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"f78c0345.2f515","type":"inject","z":"8caf69f8.637eb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["4d3a9aa2.b4f044"]]},{"id":"4d3a9aa2.b4f044","type":"change","z":"8caf69f8.637eb8","name":"メッセージ作成","rules":[{"t":"set","p":"payload","pt":"msg","to":"お知らせだよ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":120,"wires":[["fa10516a.6c591"]]},{"id":"fa10516a.6c591","type":"Notify","z":"8caf69f8.637eb8","name":"LINEに配信","AccessToken":"rBYYyJPBsjWaHPWvs7rkzLxaUaeqzG3l6kKJrXFEMOR","x":310,"y":180,"wires":[]}]