flow.json
[{"id":"8caf69f8.637eb8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"4d3a9aa2.b4f044","type":"change","z":"8caf69f8.637eb8","name":"メッセージ作成","rules":[{"t":"set","p":"payload","pt":"msg","to":"お知らせがあるよ！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["fa10516a.6c591"]]},{"id":"fa10516a.6c591","type":"Notify","z":"8caf69f8.637eb8","name":"LINEに配信","AccessToken":"rBYYyJPBsjWaHPWvs7rkzLxaUaeqzG3l6kKJrXFEMOR","x":430,"y":220,"wires":[]},{"id":"9450ca74.bec518","type":"inject","z":"8caf69f8.637eb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["4d3a9aa2.b4f044"]]}]